.faq-container {
  text-align: center;
  margin: 2rem auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
}

.faq-header {
  font-size: 28px;
  color: white;
  font-family: Poppins;
}

.faq-list {
  list-style: none;
  padding: 0;
}

.faq-question {
  background-color: black;
  border: 1px solid WHITE;
  padding: 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  font-family: Poppins;
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.faq-question.active {
  background-color: #00aaff;
  color: #fff;
}

.faq-answer {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  display: none;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-answer.active {
  display: block;
}
